@font-face {
  font-family: "Avara";
  src: url("/Fonts/FT88-School.otf") format("opentype");
}

@font-face {
  font-family: "Helvetica";
  src: url("/Fonts/arialnarrow.ttf") format("truetype");
}

@font-face {
  font-family: "Italic";
  src: url("/Fonts/FT88-Italic.otf") format("opentype");
}

.container {
  position: fixed;
}

.intro {
  position: fixed;
  font-family: "Italic", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  width: 90%;
  height: 30%;
  top: 18%;
  gap: 1rem;
  margin-left: 4%;

  img {
    height: auto;
  }
}

.nina {
  width: 10%;
}

#introtekst {
  font-family: "Italic";
  text-align: center;
  position: relative;
  font-size: 60%;
  transition: color 0.5s ease, filter 0.5s ease;
}

.introImages {
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: row;
  justify-content: space-between;
}

.down {
  position: relative;
  margin-top: 3%;
  scale: 40%;
  transition: opacity 0.3s;
}

.contactgegevens {
  // font-family: "Helvetica", sans-serif;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;
  // align-items: center;
  // font-size: 40%;
  // width: 100%;
  // position: absolute;
  // margin-top: 20%;

  font-family: "Helvetica", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  font-size: 40%;
  width: 100%;

  .items {
    display: flex;
    align-items: center;
    gap: 3%;
    width: 40%;

    .individual {
      display: flex;
      flex-direction: column;
      align-items: center;
      a {
        display: flex;
        align-items: center;
      }
    }
  }
}

.contactgegevens h2 {
  font-size: large;
}

.icons {
  padding: 2%;
  margin-left: 40%;
  width: 23%;
}
