@font-face {
  font-family: "Helvetica";
  src: url("../Fonts/arialnarrow.ttf");
}

@font-face {
  font-family: "Bungee";
  src: url("../Fonts/FT88-School.otf");
}

@font-face {
  font-family: "Italic";
  src: url("../Fonts/FT88-Italic.otf") format("truetype");
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 5%;
  background: none;
  border: none;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  color: black;
  font-family: "Bungee";
  justify-content: center;
  align-items: flex-end;

  a {
    cursor: pointer;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    font-family: "Bungee";

    &:hover {
      color: rgb(252, 0, 181);
      text-shadow: 0px 0px 10px rgb(252, 0, 181);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
