@font-face {
  font-family: "Avara";
  src: url("/Fonts/FT88-School.otf") format("opentype");
}

@font-face {
  font-family: "Helvetica";
  src: url("/Fonts/arialnarrow.ttf") format("truetype");
}

@font-face {
  font-family: "Italic";
  src: url("/Fonts/FT88-Italic.otf") format("opentype");
}

body {
  background-color: whitesmoke;
}

.intro {
  position: fixed;
  font-family: "Italic", sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 40px;
  width: 90%;
  height: 30%;
  top: 40%;
  margin-left: 4%;
}

#introtekst {
  font-family: "Italic";
  text-align: center;
  position: relative;
  font-size: 60%;
  transition: color 0.5s ease, filter 0.5s ease;
}

.introImages {
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: row;
  justify-content: space-between;
}

.down {
  position: relative;
  margin-top: 3%;
  scale: 40%;
  transition: opacity 0.3s;
}

h2 {
  font-family: "Italic", sans-serif;
  font-size: 13px;
}

.header {
  position: fixed;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  padding: 2.5%;
  margin: 0;
}

.button {
  font-family: "Helvetica", sans-serif;
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  cursor: pointer;
  display: inline-block;
}

.head {
  width: 100%;
  font-size: large;
  text-align: left;
  font-family: "Italic", serif;
}

a {
  font-family: "Helvetica", sans-serif;
  text-decoration: none;
  color: black;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 0.5%;
  text-align: left;
  width: 100%;
  background-color: whitesmoke;
}

.footer img {
  margin-left: 3%;
}

#instagram {
  width: 2%;
}

.imgBlur {
  display: block;
  filter: none;
}

.visible {
  opacity: 1;
  pointer-events: auto;
}

.blurred {
  filter: blur(5px);
}

.imgBlur.blurred {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

.work {
  padding-top: 10%;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  justify-content: center;
  align-items: center;
}

img video {
  height: 40%;
}

.hoofden {
  position: relative;
  width: 100%;
  height: auto;
}

.buttop {
  position: absolute;
  top: 50%;
  font-size: 30px;
  border: none;
  background-color: inherit;
  cursor: pointer;

  width: 3rem;
  height: 3rem;

  transform: translateY(-50%);
}

.buttop--previous {
  left: 1.5rem;

  transform: rotate(180deg);
}

.buttop--next {
  right: 1.5rem;
}

.list {
  display: flex;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.carouselcontainer {
  position: relative;
  overflow: hidden;
  width: 90%;
  margin: 5%;
}

//
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.buttons button {
  border: none;
  border-radius: 50%;
  width: 3%;
  height: auto;
  font-size: 20px;
}

.buttons button:hover {
  scale: 1.03;
}

.container {
  position: sticky;
  top: 0;
  height: 100vh;
}

.img {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  font-family: sans-serif;
  font-size: 64px;
  font-weight: bold;
}

@media only screen and (max-width: 1100px) {
  body {
    width: 100%;
  }

  .container {
    border: purple solid;
  }

  .work {
    padding-top: 50%;
    margin-top: 200%;
    width: 100%;
  }
}
