@font-face {
  font-family: "Helvetica";
  src: url("/helvetica-neue-5/HelveticaNeueRoman.otf");
}

@font-face {
  font-family: "Bungee";
  src: url("/Arbutus_Slab\,Bungee/Bungee/Bungee-Regular.ttf");
}

.sprookjeDeelContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 90%;
  padding: 2rem;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  position: relative;
}

ul {
  list-style-type: none;
}

.sprookjeDeel {
  background-color: rgb(237, 244, 236);
  width: 40rem;
  height: 20rem;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: left;
  align-items: flex-start;
  position: relative;
  font-family: "Helvetica";

  &:hover {
    box-shadow: 0px 0px 9px rgb(177, 177, 177);
  }
}

.imgSprookje {
  width: 33rem;
  overflow: hidden;
  height: auto;
  justify-content: center;
}

.imgSprookje img {
  width: 42rem;
  margin-left: -11%;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 32rem;
  align-items: flex-end;
}

.nameSprookje {
  font-family: "Helvetica";
  color: black;
  font-size: 18px;
  font-weight: bolder;
  margin: 5px;
  margin-top: 8px;
}

.titleSprookje {
  font-family: "Helvetica";
  color: grey;
  font-size: 16px;
  font-weight: lighter;
  margin: 5px;
}

.genreSprookje {
  padding: Opx;
  color: grey;
  font-size: 16px;
  font-weight: lighter;
  margin: 5px;
}

.link a:link {
  font-family: "Helvetica";
  text-decoration: none;
}

.pijltjesContainer {
  padding: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: -100px;
}

.splide__arrow {
  position: absolute;
  color: black;
  width: 50px;
  border: none;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  font-size: 24px;
  cursor: pointer;
  font-size: 50px;
  padding: 0px;

  &:first-of-type {
    left: 0px;
    z-index: 10;
  }

  &:last-of-type {
    right: 90px;
    z-index: 10;
  }
}

.splideWrapper {
  position: relative;
  width: 98%;
  height: 25rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1%;
}

.splide__arrow:hover {
  scale: 1.3;
  color: rgb(255, 0, 225);
}

@media only screen and (max-width: 1100px) {
  .imgSprookje img {
    width: 20rem;
    margin-left: -5%;
    object-fit: cover;
    border-radius: 0;
  }
}
